
html,body{
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    border:0.5px solid rgb(0,255,255);
    border-bottom-color:gray;
    }

#head{
    background:rgb(0,255,255);
    margin:0px;
    padding:0px;
    border:0.5px solid rgb(0,255,255);
    position:relative;
    min-height:125px;
    }

#mhealth{
    font-family:sans-serif;
    position:absolute;
    left:37.5% ;
    }

.men{
    display:block;
    margin:0px;
    width:60px;
    height:20px;
    background:red;
    outline:0px red;
    border:0px;
    position:absolute;
    left:0px;
    top:0px;
    transition-duration:2s;
    }

.men:hover ~ .list{
    display:block;
    }

.dona{
    position:absolute;
    right:0px;
    top:0px;
    background:#ff00ff;
    transition-duration:2s;
    }

.dona:hover{
    background:#c4c4c4;
    }

.list a{
    display:block;
    text-decoration:none;
    font-weight:700;
    color:rgb(0,0,0);
    margin-left:10px;
    margin-bottom:5px;
    }

.list{
    width:50%;
    min-height:1000px;
    background-color:gray;
    position:absolute;
    top:125px;
    left:0px;
    display:none;
    transition-duration: 2s;
    }

.list:hover{
    display:block;
    }

.list a:visited{
    color:rgb(112,17,23);
    }

#foot{
    height:125px;
    background:rgb(128,128,128)
    }

#main{
    min-height:500px;
    margin:0px;
    border:0px;
    outline:0px;
    padding:0px;
    }
.nspace{
    margin:0px;
    border:0px;
    outline:0px;
    padding:0px;
    }

.block{
    display:block;
    }

.dev{
    text-decoration:none;
    }

.center{
    position:absolute;
    left:37.5%;
    margin-left:37.5%;
    }

.stick{
    /*position:sticky;
    position:-webkit-sticky;*/
    position:static;
    top:0px;
    left:0px;
    }

.fuch{
    background-color:fuchsia;
    }

.lime{
    background-color:lime;
    }

.yel{
    background-color:yellow;
    }


    
        